@import "@/styles/config/breakpoints.scss";
* {
    // border: 1px solid red;
}

.app-wrapper {
  width: 100%;
  min-height: 100vh;
  padding: 50px 30px 70px;

  @media (max-width: $sm) {
    padding: 20px 12px 90px;
  }

  nav {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px;
  }
}

.params-card {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 160px;
  gap: 40px;

  @media (max-width: $sm) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 150px);
    gap: 10px;
  }
}
